@page
@model RGIS_WebApp.Pages.ChatRoomModel

<style>
    body {
        background-color: #141414;
        margin: 0;
        padding: 0;
    }

    .chat-window {
        width: 300px;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px auto;
        background-color: #fff;
        text-align: center;
        height: 300px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .chat-header {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .chat-message {
        padding: 10px;
        margin-bottom: 10px;
    }

        .chat-message strong {
            color: #333;
        }

    .chat-input {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 0 auto 10px;
    }

    .send-button {
        width: calc(100% - 20px);
        padding: 10px;
        background-color: red;
        border: none;
        color: white;
        cursor: pointer;
        margin: 0 auto;
        transition: transform 0.2s ease-in-out;
    }

        .send-button:hover {
            transform: scale(1.1);
        }
</style>

<body>
    <div class="chat-window">
        <div class="chat-header">
            <strong>Welcome,</strong>
        </div>
        @if (Model.Messages != null)
        {
            @foreach (var chatMessage in Model.Messages)
            {
                <div class="chat-message">
                    <strong>@chatMessage.Sender</strong>: @chatMessage.Vsebina
                </div>
            }
        }
    </div>

    <form method="post" asp-page-handler="Submit">
        <input asp-for="vnos" type="text" class="chat-input" placeholder="Type your message here...">
        <button class="send-button">Send</button>
    </form>
        
    

</body>