@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CODScout</h1>
</div>


<style>
    body {
        background-color: #141414; /* Dark color inspired by Call of Duty */
        color: #495057;
    }

    .welcome-section {
        text-align: center;
        padding: 50px 0;
    }

    .display-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #007bff;
    }
</style>

<body>

    <div class="container">
        <div class="welcome-section">
            <h1 class="display-title">Welcome to CODScout</h1>
            <!-- Add any additional introductory text or elements here -->
        </div>
    </div>

    <!-- Add any additional sections, content, or scripts here -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Add any additional scripts as needed -->
</body>