@page
@model RGIS_WebApp.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<style>
    body {
        background-color: #141414;
        color: #fff;
    }

    table {
        width: 100%;
        margin-top: 20px;
        background-color: #333;
        color: #fff;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #fff; /* Set text color to white */
    }

    th {
        background-color: #555;
    }

    tr:hover {
        background-color: #555;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>Wins</th>
            <th>Loses</th>
            <th>Matches</th>
            <th>KD Ratio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Player123</td>
            <td>120</td>
            <td>40</td>
            <td>60</td>
            <td>80</td>
            <td>20</td>
            <td>100</td>
            <td>3.0</td>
        </tr>
    </tbody>
</table>
