@page
@model RGIS_WebApp.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<table class="table">
    <thead>
        <tr>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>Wins</th>
            <th>Loses</th>
            <th>Matches</th>
            <th>KDRatio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p>s</p></td>
        </tr>
    
    </tbody>
</table>



