@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: #141414; /* Set the desired background color */
        color: white; /* Set text color */
    }

    h1, p {
        margin: 20px; /* Add margin for better spacing */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
