@page
@model RGIS_WebApp.Pages.StoreModel
@{
ViewData["Title"] = "Store";
}

<h1>Store</h1>




<form method="post">
    <button type="submit" asp-page-handler="Store">Buy Premium</button>
</form>




