@page
@model RGIS_WebApp.Pages.UserModel
@{
    ViewData["Title"] = "Leaderboard";
}

@* <head>
    <title>User Page</title>
</head>
<body>
    <h1>User Information</h1>

    <dl>
        <dt>ID:</dt>
        <dd>@Model.username</dd>

        <dt>Name:</dt>
        <dd>@Model.Name</dd>

        <dt>Email:</dt>
        <dd>@Model.email</dd>
    </dl>

    <!-- You can add more details or customize the layout as needed -->

</body> *@
