@page
@model RGIS_WebApp.Pages.UserModel
@{
    ViewData["Title"] = "UserModel";
}


<body>
    <h1>User Information</h1>

    

    <!-- You can add more details or customize the layout as needed -->

</body> 
